@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #2a2a72;
    background-image: linear-gradient(to right, #c04848, #480048);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    min-height: 100vh;
}